#menu{
    position: absolute;
    top: 0px;
    padding: 10px;
    padding-bottom: 30px;
}

#controlbar{
    background-color: #000;
    position: absolute;
    bottom: 0px;
    padding: 10px;
}

.baritem, a:link, a:visited{
    text-decoration: none;
    color: #1a1a1a;
}

.baritem{
    border-color: #cecece;
    border: solid;
    padding: 2px;
    border-width: 1px;
    border-radius: 3px;
    margin-left: 5px;
}
.baritembutton{
    border-color: #cecece;
    border: solid;
    padding: 4px;
    border-width: 1px;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 5px;
}
#version{
    padding-left: 5px;
}

.appwindow{
    width: 100%;
    min-height: 100px;
    margin-top: 65px;
}

#controlbarsettings{
    background-color: white;
    position: absolute;
    top: 50px;
    border-color: #cecece;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 4px;
}
#searcharea{
    padding-top: 100px;
}

.input{
    padding: 2mm;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #1a1a1a;
    border-style: solid;
    border-color: #FFFC67;
    border-radius: 5px;
    color: #FFFC67;
    margin-right: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
}

.btn{
    padding: 2mm;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFFC67;
    border-style: solid;
    border-color: #FFFC67;
    border-radius: 5px;
    color: #1a1a1a;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
}
.btn:hover{
    padding: 2mm;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9E231;
    border-style: solid;
    border-color: #F9E231;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #F9E231;
    color: #1a1a1a;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;

}
.btn:active{
    padding: 2mm;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    border-style: solid;
    border-color: #FFFC67;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #1a1a1a;
    color: #1a1a1a;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;

}

